In [1]:
import os
import pandas as pd
import numpy as np
import glob

from dotenv import load_dotenv
load_dotenv()

True

In [2]:
prefix = os.environ.get('PROJECT_DIR')

In [3]:
prefix

'/netapp/a.gorokhova/itmo/ImageITMO'

## Create train annotation - from dataset/train

In [2]:
split = 'train'

In [15]:
all_images = glob.glob(f'{prefix}/hw_2/data/dataset/{split}/*.jpg')

In [16]:
all_images[:3]

['/netapp/a.gorokhova/itmo/ImageITMO//hw_2/data/dataset/train/d92c3421-4131-446a-8379-c948fa50123a.jpg',
 '/netapp/a.gorokhova/itmo/ImageITMO//hw_2/data/dataset/train/c8b1ec0b-de63-4edf-b62e-b2ca387ee16b.jpg',
 '/netapp/a.gorokhova/itmo/ImageITMO//hw_2/data/dataset/train/5f70c195-00e1-45c0-af53-f81c07e848fb.jpg']

In [17]:
df = pd.DataFrame({'image_name':all_images})
df

                                             image_name
0     /netapp/a.gorokhova/itmo/ImageITMO//hw_2/data/...
1     /netapp/a.gorokhova/itmo/ImageITMO//hw_2/data/...
2     /netapp/a.gorokhova/itmo/ImageITMO//hw_2/data/...
3     /netapp/a.gorokhova/itmo/ImageITMO//hw_2/data/...
4     /netapp/a.gorokhova/itmo/ImageITMO//hw_2/data/...
...                                                 ...
9995  /netapp/a.gorokhova/itmo/ImageITMO//hw_2/data/...
9996  /netapp/a.gorokhova/itmo/ImageITMO//hw_2/data/...
9997  /netapp/a.gorokhova/itmo/ImageITMO//hw_2/data/...
9998  /netapp/a.gorokhova/itmo/ImageITMO//hw_2/data/...
9999  /netapp/a.gorokhova/itmo/ImageITMO//hw_2/data/...

[10000 rows x 1 columns]

In [18]:
os.makedirs(f'{prefix}/hw_2/data/annotations', exist_ok=True)

In [19]:
df.to_csv(f'{prefix}/hw_2/data/annotations/train_sample.txt', index=False)

### Create annotation for threshold

In [20]:
split = 'proliv'

In [21]:
all_images = glob.glob(f'{prefix}/hw_2/data/dataset/{split}/*.jpg')

In [22]:
all_images[:3]

['/netapp/a.gorokhova/itmo/ImageITMO//hw_2/data/dataset/proliv/30_CAM_C_01-03-2023_05-39-08-227.jpg',
 '/netapp/a.gorokhova/itmo/ImageITMO//hw_2/data/dataset/proliv/22_CAM_C_01-03-2023_05-38-57-516.jpg',
 '/netapp/a.gorokhova/itmo/ImageITMO//hw_2/data/dataset/proliv/24_CAM_C_01-03-2023_05-39-16-939.jpg']

In [23]:
df = pd.DataFrame({'image_name':all_images})
df

                                            image_name
0    /netapp/a.gorokhova/itmo/ImageITMO//hw_2/data/...
1    /netapp/a.gorokhova/itmo/ImageITMO//hw_2/data/...
2    /netapp/a.gorokhova/itmo/ImageITMO//hw_2/data/...
3    /netapp/a.gorokhova/itmo/ImageITMO//hw_2/data/...
4    /netapp/a.gorokhova/itmo/ImageITMO//hw_2/data/...
..                                                 ...
149  /netapp/a.gorokhova/itmo/ImageITMO//hw_2/data/...
150  /netapp/a.gorokhova/itmo/ImageITMO//hw_2/data/...
151  /netapp/a.gorokhova/itmo/ImageITMO//hw_2/data/...
152  /netapp/a.gorokhova/itmo/ImageITMO//hw_2/data/...
153  /netapp/a.gorokhova/itmo/ImageITMO//hw_2/data/...

[154 rows x 1 columns]

In [18]:
os.makedirs(f'{prefix}/hw_2/data/annotations', exist_ok=True)

In [24]:
df.to_csv(f'{prefix}/hw_2/data/annotations/proliv_sample.txt', index=False)

### Copy test_annotation to annotations

In [5]:
split = 'test'

In [7]:
test = pd.read_csv(f'{prefix}/hw_2/data/dataset/{split}/test_annotation.txt', header=0, delimiter=' ')

test.columns = ['image_name', 'class']
test

                                    image_name  class
0     9d3893a3-c877-4873-81c5-91aaaea018ea.jpg      0
1     4f5cef60-bf06-4daf-be8d-a36b06a94a7d.jpg      0
2     37ee27b2-89a3-4b66-98a4-fb39b682a9c7.jpg      0
3     43543d1a-24b6-4018-af56-27fe1c1824d6.jpg      0
4     7f1fab71-7f95-4079-8908-9d1b926c8c25.jpg      0
...                                        ...    ...
3788  00bd95dc-4f01-404b-9f59-1f1369eb1e99.jpg      0
3789  09e62c5f-f3bf-4de2-bc76-2e3e7615ba08.jpg      0
3790  e92ab320-3577-424f-8c32-f5dfb8675932.jpg      0
3791  db135776-bf7f-4450-83b9-5cc51c1d3ffc.jpg      0
3792  38d7d789-822b-4f5a-ba71-7a30d5d0e704.jpg      0

[3793 rows x 2 columns]

In [8]:
test['image_name'] = test['image_name'].apply(lambda x: os.path.join(f'{prefix}/hw_2/data/dataset/{split}/imgs', x))

In [9]:
test

                                             image_name  class
0     /netapp/a.gorokhova/itmo/ImageITMO/hw_2/data/d...      0
1     /netapp/a.gorokhova/itmo/ImageITMO/hw_2/data/d...      0
2     /netapp/a.gorokhova/itmo/ImageITMO/hw_2/data/d...      0
3     /netapp/a.gorokhova/itmo/ImageITMO/hw_2/data/d...      0
4     /netapp/a.gorokhova/itmo/ImageITMO/hw_2/data/d...      0
...                                                 ...    ...
3788  /netapp/a.gorokhova/itmo/ImageITMO/hw_2/data/d...      0
3789  /netapp/a.gorokhova/itmo/ImageITMO/hw_2/data/d...      0
3790  /netapp/a.gorokhova/itmo/ImageITMO/hw_2/data/d...      0
3791  /netapp/a.gorokhova/itmo/ImageITMO/hw_2/data/d...      0
3792  /netapp/a.gorokhova/itmo/ImageITMO/hw_2/data/d...      0

[3793 rows x 2 columns]

In [10]:
test.to_csv(f'{prefix}/hw_2/data/annotations/test_annotation.txt', index=False)